@page
@model MyWeb.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-area="" asp-page="Index" method="get" class="d-flex">
    <input type="text" name="searchString" placeholder="Search..." />
    <button>
        <ion-icon name="search-outline" class="search-icon" />
    </button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser.ToList()[0].UserPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser.ToList()[0].UserFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUser.ToList()[0].UserRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AccountUser.ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRole)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
